// Advent of Code {{YEAR}}, day {{DAY}}.
// https://adventofcode.com/{{YEAR}}/day/{{DAY}}
package main

import (
	"aoc/lib/input"
	"aoc/runner"
)

// main hands the two parts to the runner, which loads the input and times them.
func main() {
	runner.Run({{YEAR}}, {{DAY}}, part1, part2)
}

// part1 solves the first half of the puzzle.
func part1(in string) any {
	lines := input.Lines(in)
	_ = lines

	return nil
}

// part2 solves the second half of the puzzle.
func part2(in string) any {
	return nil
}
